@font-face {
  font-family: "Avenir";
  src: url("Avenir-Light.eot");
  src: local("Avenir Light"), local("Avenir-Light"),
    url("Avenir-Light.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Light.woff2") format("woff2"),
    url("Avenir-Light.woff") format("woff"),
    url("Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.App {
  position: absolute;
  width: 100%;
  background-color: #161616;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.lp-left {
  margin: auto;
  display: block;
  width: 80%;
  margin-top: 150px;
}

.FormTitle {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.quote {
  font-family: Times New Roman;
  font-weight: 700;
  font-size: 96px;
  line-height: 80%;
  color: white;
}

.note {
  color: white;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 50;
  font-size: 24px;
  margin-top: 30px;
  line-height: 33px;
}

.quote-md {
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 72px;
  color: black;
  line-height: 90%;
}

.note-md {
  color: black;
  font-size: 20px;
  margin-top: 30px;
  line-height: 85%;
}

.navbar-brand {
  font-family: Times New Roman;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  line-height: 41px;
  text-decoration: none;
  color: white;
}
.nav-link {
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(240, 240, 240) !important;
}

.nav-link:hover {
  color: #af2e1c !important;
  font-weight: 700;
}

.nav-link:focus {
  color: #af2e1c !important;
  font-weight: 700;
}

#custom {
  background-color: #161616;
  color: white;
}

.App-header {
  font-family: Times New Roman;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  text-decoration: none;
  color: black;
}

.App-link {
  color: #61dafb;
}

.btn-custom {
  width: 65%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  display: block;
  color: #929292;
  font-size: 15px;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #af2e1c;
  color: white;
}

.btn-custom:focus {
  outline: none;
}

.HomeTop {
  background-color: #e6f2fd;
  padding: 20px;
  border-radius: 15px;
}

.ProfileBox {
  background-color: #252525;
  border-radius: 30px;
  padding: 20px;
}

.list-book {
  width: 90%;
  margin: auto;
  display: block;
}

.list-book img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.list-book h4 {
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120.5%;
}

.list-book p {
  color: #929292;
}

.list-title {
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 101.5%;
  padding-left: 10px;
}

.ProfileRow {
  color: white;
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: -15px;
  margin-bottom: 20px;
}

.ProfileRow .profile-data {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

.ProfileRow .profile-note {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #8a8c90;
  margin: 0;
}

.detail-data {
  color: #929292;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.detail-type {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.modalFooter {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 15px;
  text-align: center;
}

.need-confirm {
  width: 85%;
  height: 98%;
  position: absolute;
  background: rgba(196, 196, 196, 0.7);
  border-radius: 10px;
  margin: auto;
  display: block;
  z-index: 9;
}

.need-confirm p {
  margin-top: 40%;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffd600;
  background-color: grey;
  text-shadow: 0.5px 0.5px black;
}

.splash-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

input,
select,
textarea,
button,
label {
  outline: none !important;
  box-shadow: none !important;
}

input:focus,
select:focus,
textarea:focus {
  background-color: #1d1d1d !important;
  color: white;
}

input.form-control,
select.form-control,
textarea.form-control,
div.form-control,
#custom-input {
  background-color: #454545;
  color: white !important;
}

input::placeholder,
select:first-child {
  color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #454545 inset !important;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #1d1d1d inset !important;
  -webkit-text-fill-color: white !important;
}

select {
  padding: 6px 8px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #727272;
}

.card {
  border: 1px solid #727272;
  background-color: #454545;
}

.card-header {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.card-body {
  padding: 10px;
}

small {
  text-align: center;
}
